        body {
            background-color: white;
        }

        main {
            display: inline-block;  
            width: 50%; 
            margin-top: 10%; 
            margin-left: 25%;
        }

        div {
            width: 35%; 
            float: left;
            margin-top: 50px;
        }

        h1 {
            font-size: 100px;
            margin: 0;
            font-family: Arial;
            color: blue;
        }

        p {
            margin: 0;
            font-size: 28px;
            font-family: Tahoma;
            text-transform: uppercase;
        }

        a {

        }

        img {
            width: 55%; 
            float: right; 
        }